################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/bin/Debug/net8.0-windows/Frpc/frpc_config_湖南娄底.ini
/bin/Debug/net8.0-windows/Frpc/frpc_config_中国广州.ini
/bin/Debug/net8.0-windows/Frpc/frpc_config_日本东京-2.ini
